<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net451" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net451" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net451" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net451" />
  <package id="ImageResizer" version="3.4.3" targetFramework="net451" />
  <package id="ImageResizer.Mvc" version="3.4.3" targetFramework="net451" />
  <package id="ImageResizer.MvcWebConfig" version="3.4.3" targetFramework="net451" />
  <package id="ImageResizer.Plugins.AdvancedFilters" version="3.4.3" targetFramework="net451" />
  <package id="ImageResizer.Plugins.AzureReader2" version="3.4.3" targetFramework="net451" />
  <package id="ImageResizer.Plugins.CopyMetadata" version="3.4.3" targetFramework="net451" />
  <package id="ImageResizer.Plugins.DiagnosticJson" version="3.4.3" targetFramework="net451" />
  <package id="ImageResizer.Plugins.DiskCache" version="3.4.3" targetFramework="net451" />
  <package id="ImageResizer.Plugins.SeamCarving" version="3.4.3" targetFramework="net451" />
  <package id="ImageResizer.Plugins.WhitespaceTrimmer" version="3.4.3" targetFramework="net451" />
  <package id="ImageResizer.WebConfig" version="3.4.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc.FixedDisplayModes" version="5.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.2" targetFramework="net451" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net451" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net451" />
  <package id="Microsoft.Data.Edm" version="5.6.2" targetFramework="net451" />
  <package id="Microsoft.Data.OData" version="5.6.2" targetFramework="net451" />
  <package id="Microsoft.Data.Services.Client" version="5.6.2" targetFramework="net451" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.3" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net451" />
  <package id="SmartCache" version="2.5.4" targetFramework="net451" />
  <package id="System.Spatial" version="5.6.2" targetFramework="net451" />
  <package id="WindowsAzure.Storage" version="4.3.0" targetFramework="net451" />
</packages>